<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/static/styles/style.css">
            <title>
                Melanie La Grange - About
            </title>        
        <link rel="shortcut icon" type="icon/ico" href="/static/graphics/logo_icon.svg">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;700;800&display=swap" rel="stylesheet">
        
    </head>
    
    {% include "../includes/header.html" %}

    <div class="content">
        <div class="about">
            <div class="image-container">
                <div class="color-block">
                </div>
                <img class="about-photo" src="/static/graphics/mel-images/about_me_image.png" alt="Portfolio Image">
            </div>
            <div class="intro-text">
                <h1>a little bit about me...</h1>
                <p>
                    Integer feugiat, risus consequat tincidunt vulputate, massa ex tincidunt justo, id 
                    efficitur libero lorem lobortis urna. Donec quis dolor id elit volutpat volutpat ac in 
                    risus. Nunc a nulla lectus. Suspendisse potenti. Suspendisse eu dignissim purus. 
                    Suspendisse id magna accumsan, efficitur libero lacinia, convallis ipsum. Quisque 
                    at nunc ut orci aliquam viverra nec nec sapien. Integer venenatis mi augue, a 
                    pellentesque urna egestas id. Aliquam a diam quis elit euismod egestas vitae quis 
                    odio. Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis velit 
                    nibh, accumsan sed ex sit amet, accumsan pharetra dolor. Duis accumsan augue at 
                    imperdiet mollis. Nullam eu pharetra nunc, in mattis ipsum. Sed ornare cursus 
                    interdum.
                </p>
                <p>
                    Proin sodales mattis mauris, sed aliquet leo commodo ac. In posuere porttitor 
                    neque, eu aliquet lectus rutrum luctus. Pellentesque sollicitudin eget ipsum eu 
                    sodales. Aliquam porttitor pretium quam, et condimentum leo faucibus non. Etiam 
                    non lobortis ex. In eget mi quam. Pellentesque eu orci accumsan, tristique dui eu, 
                    ultricies urna. Nam libero mauris, pretium ut vehicula non, porta non sapien. Sed 
                    faucibus, dui quis finibus feugiat, dui lectus mol 
                </p>
            </div>
            <a href="/portfolio-intro" class="button">see my work</a>
            <a href="/contact/" class="button">contact me</a>
        </div>
    </div>




    {% include "../includes/footer.html" %}

</html>