
{% extends "../index.html" %}

{% block title %}Code{% endblock %}

{% block content %} 

    <div class="code-content">
        <h1>my code</h1>
        <div class ="block-container">
            <div class="project-block">
                <div class="block-1">
                    <h3>my portfolio site</h3>
                    <p>HTML CSS site running on Express deployed to Google App Engine</p>
                    <a href="https://github.com/Ultramel22/portfolio" class="button" target="_blank">view on github</a>
                </div>
            </div>
            <div class="project-block">
                <div class="block-2">
                    <h3>future project</h3>
                    <p>watch this space</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
