<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/static/styles/style.css">
            <title>
                Melanie La Grange - Contact
            </title>        
        <link rel="shortcut icon" type="icon/ico" href="/static/images/logo_icon.svg">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;700;800&display=swap" rel="stylesheet">
    </head>
    
    {% include "../includes/header.html" %}


    <div class="content">
        <div class="code-container">
            <div class="block">
                <h1> contact me </h1>
                <p> Feel free to contact me using the below channels </p>
                <div class="links"> 
                    <a href="mailto:melanielagrange2@gmail.com" target="_blank" class="button">email </a>
                    <a href="https://www.linkedin.com/in/melanie-la-grange/" target="_blank" class="button">linkedin </a>
                    <a href="https://www.facebook.com/UltraMelanieLaGrange" target="_blank" class="button">facebook </a>
                </div>
            </div>
        </div> 
    </div>

    {% include "../includes/footer.html" %}

</html>