<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/static/styles/style.css">
            <title>
                Melanie La Grange - Design
            </title>        
        <link rel="shortcut icon" type="icon/ico" href="/static/graphics/logo_icon.svg">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;700;800&display=swap" rel="stylesheet">
        
    </head>
    
    {% include "../includes/header.html" %}


    <div class="content">
        <div class="container">
            <div class="intro-text">
                <h1>my designs</h1>
            </div>
            <div class="work">
                <div class="showcase">
                        <div class ="one">    
                            <img class="project" src="../../static/graphics/mel-images/purple_square.png" alt="Melanie La Grange Portfolio">
                            <div class="overlay">
                                <div class="detail">
                                    <h1>project</h1>
                                    <p>description</p>
                                </div>
                            </div>
                        </div> 
                    <div class ="two">    
                        <img src="../../static/graphics/mel-images/purple_square.png" alt="Melanie La Grange Portfolio">
                        <div class="overlay">
                            <div class="detail">
                                <h1>project</h1>
                                <p>description</p>
                            </div>
                        </div>
                    </div> 
                    <div class ="three">    
                        <img src="../../static/graphics/mel-images/purple_square.png" alt="Melanie La Grange Portfolio">
                        <div class="overlay">
                            <div class="detail">
                                <h1>project</h1>
                                <p>description</p>
                            </div>
                        </div>
                    </div> 
                    <div class="four">    
                        <img src="../../static/graphics/mel-images/purple_square.png" alt="Melanie La Grange Portfolio">
                        <div class="overlay">
                            <div class="detail">
                                <h1>project</h1>
                                <p>description</p>
                            </div>
                        </div>
                    </div> 
                    <div class ="five">    
                        <img src="../../static/graphics/mel-images/purple_square.png" alt="Melanie La Grange Portfolio">
                        <div class="overlay">
                            <div class="detail">
                                <h1>project</h1>
                                <p>description</p>
                            </div>
                        </div>
                    </div> 
                    <div class ="six">    
                        <img src="../../static/graphics/mel-images/purple_square.png" alt="Melanie La Grange Portfolio">
                        <div class="overlay">
                            <div class="detail">
                                <h1>project</h1>
                                <p>description</p>
                            </div>
                        </div>
                    </div> 
                    <div class ="seven">    
                        <img src="../../static/graphics/mel-images/purple_square.png" alt="Melanie La Grange Portfolio">
                        <div class="overlay">
                            <div class="detail">
                                <h1>project</h1>
                                <p>description</p>
                            </div>
                        </div>
                    </div> 
                    <div class ="eight">    
                        <img src="../../static/graphics/mel-images/purple_square.png" alt="Melanie La Grange Portfolio">
                        <div class="overlay">
                            <div class="detail">
                                <h1>project</h1>
                                <p>description</p>
                            </div>
                        </div>
                    </div> 
                    <div class ="nine">    
                        <img src="../../static/graphics/mel-images/purple_square.png" alt="Melanie La Grange Portfolio">
                        <div class="overlay">
                            <div class="detail">
                                <h1>project</h1>
                                <p>description</p>
                            </div>
                        </div>
                    </div> 
                    <div class ="ten">    
                        <img src="../../static/graphics/mel-images/purple_square.png" alt="Melanie La Grange Portfolio">
                        <div class="overlay">
                            <div class="detail">
                                <h1>project</h1>
                                <p>description</p>
                            </div>
                        </div>
                    </div> 
                    <div class ="eleven">    
                        <img src="../../static/graphics/mel-images/purple_square.png" alt="Melanie La Grange Portfolio">
                        <div class="overlay">
                            <div class="detail">
                                <h1>project</h1>
                                <p>description</p>
                            </div>
                        </div>
                    </div> 
                    <div class ="twelve">    
                        <img src="../../static/graphics/mel-images/purple_square.png" alt="Melanie La Grange Portfolio">
                        <div class="overlay">
                            <div class="detail">
                                <h1>project</h1>
                                <p>description</p>
                            </div>
                        </div>
                    </div> 
                    <div class ="thirteen">    
                        <img src="../../static/graphics/mel-images/purple_square.png" alt="Melanie La Grange Portfolio">
                        <div class="overlay">
                            <div class="detail">
                                <h1>project</h1>
                                <p>description</p>
                            </div>
                        </div>
                    </div> 
                    <div class ="fourteen">    
                        <img src="../../static/graphics/mel-images/purple_square.png" alt="Melanie La Grange Portfolio">
                        <div class="overlay">
                            <div class="detail">
                                <h1>project</h1>
                                <p>description</p>
                            </div>
                        </div>
                    </div> 
                    <div class ="fifteen">    
                        <img src="../../static/graphics/mel-images/purple_square.png" alt="Melanie La Grange Portfolio">
                        <div class="overlay">
                            <div class="detail">
                                <h1>project</h1>
                                <p>description</p>
                            </div>
                        </div>
                    </div> 
                    <div class ="sixteen">    
                        <img src="../../static/graphics/mel-images/purple_square.png" alt="Melanie La Grange Portfolio">
                        <div class="overlay">
                            <div class="detail">
                                <h1>project</h1>
                                <p>description</p>
                            </div>
                        </div>
                    </div> 
                    <div class ="seventeen">    
                        <img src="../../static/graphics/mel-images/purple_square.png" alt="Melanie La Grange Portfolio">
                        <div class="overlay">
                            <div class="detail">
                                <h1>project</h1>
                                <p>description</p>
                            </div>
                        </div>
                    </div>
                    <div class ="eighteen">    
                        <img src="../../static/graphics/mel-images/purple_square.png" alt="Melanie La Grange Portfolio">
                        <div class="overlay">
                            <div class="detail">
                                <h1>project</h1>
                                <p>description</p>
                            </div>
                        </div>
                    </div>
                    <div class ="nineteen">    
                        <img src="../../static/graphics/mel-images/purple_square.png" alt="Melanie La Grange Portfolio">
                        <div class="overlay">
                            <div class="detail">
                                <h1>project</h1>
                                <p>description</p>
                            </div>
                        </div>
                    </div> 
                    <div class ="twenty">    
                        <img src="../../static/graphics/mel-images/purple_square.png" alt="Melanie La Grange Portfolio">
                        <div class="overlay">
                            <div class="detail">
                                <h1>project</h1>
                                <p>description</p>
                            </div>
                        </div>
                    </div>
                    <div class ="twenty-one">    
                        <img src="../../static/graphics/mel-images/purple_square.png" alt="Melanie La Grange Portfolio">
                        <div class="overlay">
                            <div class="detail">
                                <h1>project</h1>
                                <p>description</p>
                            </div>
                        </div>
                    </div>
                    <div class ="twenty-two">    
                        <img src="../../static/graphics/mel-images/purple_square.png" alt="Melanie La Grange Portfolio">
                        <div class="overlay">
                            <div class="detail">
                                <h1>project</h1>
                                <p>description</p>
                            </div>
                        </div>
                    </div>
                    <div class ="twenty-three">    
                        <img src="../../static/graphics/mel-images/purple_square.png" alt="Melanie La Grange Portfolio">
                        <div class="overlay">
                            <div class="detail">
                                <h1>project</h1>
                                <p>description</p>
                            </div>
                        </div>
                    </div>
                    <div class ="twenty-four">    
                        <img src="../../static/graphics/mel-images/purple_square.png" alt="Melanie La Grange Portfolio">
                        <div class="overlay">
                            <div class="detail">
                                <h1>project</h1>
                                <p>description</p>
                            </div>
                        </div>
                    </div>
                    <div class ="twenty-five">    
                        <img src="../../static/graphics/mel-images/purple_square.png" alt="Melanie La Grange Portfolio">
                        <div class="overlay">
                            <div class="detail">
                                <h1>project</h1>
                                <p>description</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>


    </div>



    {% include "../includes/footer.html" %}

</html>