
{% extends "../index.html" %}

{% block title %}Design{% endblock %}

{% block content %} 

    <div class="container">
        <div class="intro-text">
            <h1>my designs</h1>
        </div>
        <div class="work">
            <div class="showcase">
                <div class ="one">
                    <div class="image" style="background-image: url(/static/images/portfolio-images/gah-business-card.jpg);"></div>
                    <div class="overlay">
                        <div class="detail">
                            <h1>Side Project</h1>
                            <p>Business Card Design</p>
                        </div>
                    </div>
                </div>
                <div class ="two">   
                    <div class="image" style="background-image: url(/static/images/portfolio-images/one-three-six.jpg);"></div>
                    <div class="overlay">
                        <div class="detail">
                            <h1>One Three Six</h1>
                            <p>Interior Signage</p>
                        </div>
                    </div>
                </div>
                <div class ="three">   
                    <div class="image" style="background-image: url(/static/images/portfolio-images/35-on-main.jpg);"></div>
                    <div class="overlay">
                        <div class="detail">
                            <h1>35 on Main</h1>
                            <p>Interior Main Signage</p>
                        </div>
                    </div>
                </div>
                <div class="four">   
                    <div class="image" style="background-image: url(/static/images/portfolio-images/birthday-invitation.jpg);"></div>
                    <div class="overlay">
                        <div class="detail">
                            <h1>Side Project</h1>
                            <p>80th Invitation</p>
                        </div>
                    </div>
                </div>
                <div class ="five">
                    <div class="image" style="background-image: url('/static/images/portfolio-images/pattern-design.jpg');"></div>
                    <div class="overlay">
                        <div class="detail">
                            <h1>Side Project</h1>
                            <p>Surface Pattern Design</p>
                        </div>
                    </div>
                </div>
                <div class ="six">   
                    <div class="image" style="background-image: url(/static/images/portfolio-images/gah-sale-brochure-lunch.jpg);"></div>
                    <div class="overlay">
                        <div class="detail">
                            <h1>Side Project</h1>
                            <p>Flyer/Leaflet</p>
                        </div>
                    </div>
                </div>
                <div class ="seven">   
                    <div class="image" style="background-image: url(/static/images/portfolio-images/marathon-main.jpg);"></div>
                    <div class="overlay">
                        <div class="detail">
                            <h1>Marathon</h1>
                            <p>Interior Reception Signage</p>
                        </div>
                    </div>
                </div>
                <div class ="eight">   
                    <div class="image" style="background-image: url(/static/images/portfolio-images/urban-artisan-apartments.jpg);"></div>
                    <div class="overlay">
                        <div class="detail">
                            <h1>Urban Artisan Apartments</h1>
                            <p>Exterior Main Signage</p>
                        </div>
                    </div>
                </div>
                <div class ="nine">   
                    <div class="image" style="background-image: url(/static/images/portfolio-images/pog-pamphlet.jpg);"></div>
                    <div class="overlay">
                        <div class="detail">
                            <h1>Printing Onto Glass</h1>
                            <p>Flyer/Leaflet</p>
                        </div>
                    </div>
                </div>
                <div class ="ten">   
                    <div class="image" style="background-image: url(/static/images/portfolio-images/hungry-herbivore.jpg);"></div>
                    <div class="overlay">
                        <div class="detail">
                            <h1>The Hungry Herbivore</h1>
                            <p>Logo Design</p>
                        </div>
                    </div>
                </div>
                <div class ="eleven">   
                    <div class="image" style="background-image: url(/static/images/portfolio-images/80th-invitation.jpg);"></div>
                    <div class="overlay">
                        <div class="detail">
                            <h1>Side Project</h1>
                            <p>80th Invitation</p>
                        </div>
                    </div>
                </div>                   
            </div>
        </div>
    </div> 

{% endblock %}
