
{% extends "../index.html" %}

{% block content %} 

    <div class="intro-section">
        <img class="intro-image" src="/static/images/mel-images/intro_image.png" alt="Melanie La Grange Intro Image">
        <div class="intro-text">
            <h1>hi i'm Mel!</h1>
            <p>I'm graphic designer in Cape Town transitioning to a career in web development.</p>
            <a href="/about/" class="button">about me</a>
        </div>     
    </div>
    <div class="portfolio-section">
        <div class="portfolio-intro">
            <h1>my portfolio</h1>
        </div>
        <div class="paths">         
            <div class="design-intro">
                <h1>design</h1>                                                            
                <p>I've worked as a print and signage designer for 5 years.</p>
                <a href="/design/" class="button">my designs</a>
            </div>
            <div class="coding-intro">
                <h1>code</h1>                                                                               
                <p>I'm still learning to code. So far I've learned the basics of HTML and CSS.</p>
                <a href="/code/" class="button">my code</a>   
            </div>
        </div>
    </div>
    <div class="instagram-section">
        <h1>instagram feed</h1>
        <div class="instagram-feed">
            {% for post in instagramPosts.slice(0, 5) %}
                <a href="https://www.instagram.com/p/{{ post.shortcode }}/" target="_blank">  
                    <img src="{{ post.thumbnail_src }}">
                </a>                               
            {% endfor %}
        </div>
        <a href="https://www.instagram.com/melange_designs/" class="button">follow me</a>
    </div>

{% endblock %}

