<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/static/styles/style.css">
            <title>
                Melanie La Grange - Portfolio
            </title>        
        <link rel="shortcut icon" type="icon/ico" href="/static/graphics/logo_icon.svg">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;700;800&display=swap" rel="stylesheet">
        
    </head>

    {% include "../includes/header.html" %}

    <div class="content">
        <div class="intro-section">
            <img class="intro-image" src="/static/graphics/mel-images/intro_image.png" alt="Melanie La Grange Intro Image">
            <div class="intro-text">
                <h1> Hi! I'm Mel.</h1>
                <p> I’m graphic designer working towards migrating my design skills with my technical knowledge to pursue a career in web development. 
                </p>
                    <a href="/about/" class="button">learn more</a>
            </div>      
        </div>

        <div class="portfolio-section">
            <div class="design-intro">
                <h1>
                    <a href="/design/"> design </a>
                </h1>                                                             
                <p> Lorem ipsum dolor sit amet, consectetur elit. Proin pulvinar venenatis facilisis.
                    Aenean ac dignissim velit. Mauris bibendum hendrerit nisi in convallis. Fusce sit.</p>
            </div>

            <div class="portfolio-intro">
                <h1> my portfolio </h1>
                <img class="portfolio-image" src="/static/graphics/placeholder_image2.png" alt="Portfolio Image">
            </div>

            <div class="coding-intro"> 
                <h1>
                    <a href="/code/"> code </a>
                </h1>                                                                                
                <p> Lorem ipsum dolor sit amet, consectetur elit. Proin pulvinar venenatis facilisis. 
                Aenean ac dignissim velit. Mauris bibendum hendrerit nisi in convallis. Fusce sit.</p>    
            </div>

        </div>
        <div class="instagram-section">
                <h1> instagram feed </h1>
                <div class="instagram-feed">
                    {% for post in instagramPosts.slice(0, 5) %}
                        <a href="https://www.instagram.com/p/{{ post.shortcode }}/" target="_blank">   
                            <img src="{{ post.thumbnail_src }}"> 
                        </a>                                
                    {% endfor %}
                </div> 
                    <a href="https://www.instagram.com/melange_designs/" class="button">follow me</a>
    
        </div>

    </div>

    {% include "../includes/footer.html" %}

</html>
