
{% extends "../index.html" %}

{% block title %}Resume{% endblock %}

{% block content %} 

<div class="resume-container">
    <div class="resume">
        <div class="left-section">
            <div class="photo">
                <img src="/static/images/mel-images/resume-photo.jpg" alt="Melanie La Grange Photo">
            </div>
            <div class="resume-content">
                <div class="personal-info">
                    <h5>PERSONAL INFORMATION</h5>
                    <div class="info-grid">
                        <div class="info-left">
                            <p>Nationality:</p>
                            <p>DOB:</p>
                            <p>Marital Status:</p>
                            <p>Languages:</p>
                        </div>
                        <div class="info-right">
                            <p>South African</p>
                            <p>22/02/1991</p>
                            <p>Single</p>
                            <p>English (1st) </p>
                            <p>Afrikaans (2nd) </p>
                        </div> 
                    </div>
                </div>
                <div class="education">
                    <h5>EDUCATION</h5>
                    <p>Sololearn</br>
                        html & css</br>
                        2020
                    </p>
                    <p>shaw academy</br>
                        introduction to</br>
                        graphic design</br>
                        2016
                    </p>
                    <p>uct short course</br>
                        graphic design</br>
                        2015
                    </p>
                    <p>city varsity</br>
                        professional acting</br>
                        for camera</br>
                        2009
                    </p>
                    <p>buren high school</br>
                        matric</br>
                        2008
                    </p>
                </div>  
                <div class="references">
                <h5>REFERENCES</h5>
                        <p>norman von schlicht</br>
                            <b>ultrasigns</b></br>
                            former owner</br>
                            <b>082 900 1135</b>
                        </p>
                        <p>stan du plooy</br>
                            <b>ultrasigns</b></br>
                            production manager</br>
                            <b>066 205 4443</b>
                        </p>

                </div>
            </div>
        </div>
        <div class="right-section">
            <h1>Melanie La Grange</h1>
            <div class="experience">
                <h5>experience</h5>
                <ul class="work">
                    <li>
                        <div class="date">Jul 2017 - present</div>
                        <div class="info">
                            <h4 class="position">Graphic Designer</h4>
                            <h6 class="company">Ultrasigns</h6>
                            <ul class="duties">
                                <li>Managing adhoc design requests from start to finish</li> 
                                <li>Generate and create crafted, visually pleasing designs</li> 
                                <li>Designing and setting up technical drawings and artwork for signage manufacturing</li> 
                                <li>Prepare files for CNC router, vinyl cutter and flatbed printing</li> 
                                <li>Collaborate, delegate and discuss project concepts and production methods with 
                                        the factory managers and staff to understand project requirements </li> 
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="date">Jun 2013 - Jun 2017</div>
                        <div class="info">
                            <h4 class="position">Printing Dept. Manager</h4>
                            <h6 class="company">Ultrasigns</h6>
                            <ul class="duties">
                                <li>Execute processes and procedures to achieve production goal</li>
                                <li>Creates time lines for projects and evaluates project plans at designated intervals to make any revisions or modifications</li>
                                <li>Communication with other departments of the business to report the status of the printing departments goals, objectives and necessary issues related to specific jobs</li>
                                <li>Ensuring the stock needed for the department is provided effectively and economically</li>
                                <li>Any and all data capturing requirements</li> 
                            </ul>                           
                        </div>
                    </li>
                    <li>
                        <div class="date"> Oct 2010 - May 2013</div>
                        <div class="info">
                            <h4 class="position">Receptionist</h4>
                            <h6 class="company">Ultrasigns</h6>
                            <ul class="duties">
                                <li>Answer telephone and emails - directing to the relevant departments</li>
                                <li>Take and relay messages</li>
                                <li>Greet persons entering the business and direct them to the correct departments</li>
                                <li>Assist with queries from the public and customers</li>
                                <li>Monitor staff movements in and out of office</li>
                                <li>All general administrative and clerical tasks</li>
                                <li>Receive and sort mail and deliveries</li>  
                            </ul>                      
                        </div>
                    </li>
                </ul>

            </div>
            <div class="prof">
                <h5>proficiencies</h5>
                <div class="progress">
                    <p>HTML/CSS</p>       
                    <div class="proficiencies-section">
                        <div class="skills html"><p>90%</p></div>
                    </div>
                </div>
                
                <div class="progress">
                    <p>wordpress</p>
                    <div class="proficiencies-section">
                        <div class="skills wordpress"><p>90%</p></div>
                    </div>
                </div>

                <div class="progress">
                    <p>adobe creative suite</p>
                    <div class="proficiencies-section">
                        <div class="skills adobe"><p>90%</p></div>
                    </div>
                </div>

                <div class="progress">
                    <p>coreldraw</p>
                    <div class="proficiencies-section">
                        <div class="skills coreldraw"><p>90%</p></div>
                    </div>
                </div>

                <div class="progress">
                    <p>microsoft office suite</p>
                    <div class="proficiencies-section">
                        <div class="skills microsoft"><p>90%</p></div>
                    </div>
                </div>
            </div>

            <div class="hobbies">
                <h5>hobbies</h5>
                <ul class="hobby-icons">
                    <li><img src="/static/images/hobby-icons/reading.svg"></li>
                    <li><img src="/static/images/hobby-icons/painting.svg"></li>
                    <li><img src="/static/images/hobby-icons/gaming.svg"></li>
                    <li><img src="/static/images/hobby-icons/knitting.svg"></li>
                    <li><img src="/static/images/hobby-icons/coding.svg"></li>
                </ul>
                  
           
        </div>

    </div>        
</div>



{% endblock %}
