.content {

    align-items: center;
    
}

.code-container {
    
    padding: 210px 0 50px;
    
}

.block {

    align-items: center;
    background-color: #f4f4f4;
    display: inline-block;
    height: 500px;
    width: 100%;
    text-align: center;

}

.block h1 {

    margin-top: 90px;

}

.block p {

    margin-top: 40px;

}

.block .links {

    margin-top: 50px;

}

.block .links .button {

    font-size: 18px;
    width: 145px;
    margin: 22px 90px;
    
}