.intro-section {
    align-items:center;
    background-color: #F4F4F4;
    display: grid;
    grid-template-columns: 10% 39% 31% 20%;
    height: 500px;
    margin-top: 50px;
    width: 100%;
}

.intro-section p {

    font-size: 20px;
    line-height: 28px;
    width: 400px;
}

.intro-section img.intro-image {

    border-radius: 50%;
    grid-column: 2;
    height:300px;
    justify-content: center;
    margin: 0 90px 0 auto;
    
}

.intro-section .intro-text {
    grid-column: 3;
    justify-content: center;
    text-align: left;
}