.intro-section {

    align-items: center;
    background-color: #f4f4f4;
    display: grid;
    grid-template-columns: 10% 43% 31% 20%;
    height: 470px;
    margin-top: 50px;
    width: 100%;

}

.intro-section h1 {

    margin: 0 0 10px;

}

.intro-section p {

    font-size: 20px;
    line-height: 28px;
    width: 400px;

}

.intro-section img.intro-image {

    border-radius: 50%;
    grid-column: 2;
    height: 320px;
    justify-content: center;
    margin: 0 50px 0 auto;
    
}

.intro-section .intro-text {

    grid-column: 3;
    justify-content: center;
    text-align: left;
    
}

.intro-section .button {

    margin: 40px 105px 0;
}