.portfolio-section {
    background-color: white;
    height: 530px;
    display: grid;
    grid-template-columns: 15% 22% 26% 22% 15%;
    align-items:center;
}

.portfolio-section h1 {
    margin-bottom: 10px;
}

.portfolio-section a {
    text-decoration: none;
    color: #8C5D65;
}

.portfolio-section .portfolio-intro>h1 {
    grid-column: 3;
    text-align: center;
    margin: 20px 0 20px 0;
}

.portfolio-section .portfolio-intro .portfolio-image {
    height: 410px;
    
}

.portfolio-section .design-intro {
    grid-column: 2;
}


.portfolio-section h1 a:hover {
    color:#6E444B;
    transition: ease-in 0.3s;
    cursor: pointer;
}

.portfolio-section .coding-intro {
    grid-column: 4;
}
