.portfolio-section {
    align-items:center;
    background-color: white;
    display: grid;
    grid-template-columns: 15% 22% 490px 22% 15%;
    height: 530px;   
}

.portfolio-section h1 {
    margin-bottom: 10px;
}

.portfolio-section a {
    color: #8C5D65;
    text-decoration: none;
}


.portfolio-section .portfolio-intro>h1 {
    grid-column: 3;
    margin: 20px 0 2px 0;
    text-align: center;
}

.portfolio-section .portfolio-intro .portfolio-image {
   object-fit: cover;
   width: 100%;
    
}

.portfolio-section .design-intro {
    grid-column: 2;
    text-align: right;
}

.portfolio-section h1 a:hover {
    color:#6E444B;
    cursor: pointer;
    transition: ease-in 0.3s;
}

.portfolio-section .coding-intro {
    grid-column: 4;
}
