<header>
    <h1>
        <a href ="/">                                                                                
            <img src="/static/graphics/mlg_logo.svg" alt="Melanie La Grange Logo" class="navlogo">
        </a>
    </h1>
    <nav>
        <ul class="nav-links">
            <li><a href="/">HOME</a></li>                                         
            <li><a href="/about/">ABOUT</a></li>                                                     
            <li><a href="/design/">DESIGN</a></li>                                                   
            <li><a href="/code/">CODE</a></li>
            <li><a href="/resume/">RÉsumÉ</a></li>                                                       
            <li><a href="/contact/">CONTACT</a></li>                                                 
        </ul>
    </nav>           
</header>