
@import url("/static/styles/fonts.css");

@import url("/static/styles/home/header.css");

@import url("/static/styles/home/intro-section.css");

@import url("/static/styles/home/portfolio-section.css");

body {
    margin: 0;
    padding: 0;
    width: 100%;
}

h1 {
    font-family:butler-bold;
    font-size: 62px;
    margin: 0;
    color: #8C5D65;
}

p { 
    font-family: gotham;
    font-size: 18px;
    margin: 0;
    line-height: 23px;
    color: #4B4B4D;
}

.button {
    background-color: #8C5D65;
    border: none;
    color: white;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-family: gotham-bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 22px 105px;
    border-radius: 5px;
}

.button:hover {
    background-color:#6E444B;
    transition: ease-in 0.3s;
    cursor: pointer;
}