
@import url("/static/styles/fonts.css");

@import url("/static/styles/home/header.css");

@import url("/static/styles/home/intro-section.css");

@import url("/static/styles/home/portfolio-section.css");

@import url("/static/styles/home/footer.css");

@import url("/static/styles/home/instagram-section.css");

@import url("/static/styles/about/about.css");

@import url("/static/styles/designs/design.css");


body {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 100%;
}

h1 {
    color: #8C5D65;
    font-family: 'Playfair Display', serif;
    font-size: 62px;
    font-weight: 700;
    letter-spacing: 0.5px;
    margin: 0;
}

p { 
    color: #4B4B4D;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    margin: 0;
}

a.anchor{
    position:relative;
    visibility: hidden;
    top:-60px;
}

.button {
    background-color: #8C5D65;
    border: none;
    border-radius: 5px;
    color: white;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 2px;
    margin: 22px 105px;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none; 
    text-transform: uppercase;
}

.button:hover {
    background-color:#6E444B;
    cursor: pointer;
    transition: ease-in 0.3s;
}

.content {
    min-height: 95vh;
    text-align: center;
}