
@import url("/static/styles/fonts.css");

@import url("/static/styles/home/header.css");

@import url("/static/styles/home/intro-section.css");

@import url("/static/styles/home/portfolio-section.css");

@import url("/static/styles/home/footer.css");

@import url("/static/styles/about/header.css");

body {
    margin: 0;
    padding: 0;
    width: 100%;
}

h1 {
    color: #8C5D65;
    font-family: 'Playfair Display', serif;
    font-size: 62px;
    font-weight: 600;
    letter-spacing: 0.5px;
    margin: 0;  
}

p { 
    color: #4B4B4D;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
    margin: 0;
}

.button {
    background-color: #8C5D65;
    border: none;
    border-radius: 5px;
    color: white;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 2px;
    margin: 22px 105px;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none; 
    text-transform: uppercase;
}

.button:hover {
    background-color:#6E444B;
    cursor: pointer;
    transition: ease-in 0.3s;
}