.about { 
    align-items:center;
    background-color: #F4F4F4;
    display: inline-block;
    max-width: 1400px;
    min-height: 130vh;
}

.image-container {
    margin: 150px 0 50px;
}

.intro-text-about {
    display: inline-block;
    width:65%;
    text-align: center;
}

.intro-text-about h1 {
    margin: 0 0 10px;
}

.intro-text-about p {
    line-height: 25px;
    margin: 30px;
}

.about .button {
    margin: 20px 65px 95px;
}