.about { 
    align-items:center;
    background-color: #F4F4F4;
    display: inline-block;
    max-width: 1400px;
    min-height: 130vh;
}

.image-container {
    margin: 150px 0 50px;
}

.intro-text {
    display: inline-block;
    width:75%;
    text-align: center;
}

.intro-text p {
    line-height: 25px;
    margin-top: 30px;
}

.about .button {
    margin: 65px;
}