.about { 

    align-items: center;
    background-color: #F4F4F4;
    display: inline-block;
    max-width: 1400px;
    min-height: 94.5vh;

}

.image-container {

    margin: 150px 0 50px;

}

.intro-text-about {

    display: inline-block;
    width: 65%;
    text-align: left;

}

.intro-text-about h1 {

    margin: 0 0 10px;
    text-align: center;
    
}

.intro-text-about p {

    line-height: 25px;
    margin: 30px 100px;

}

.about .button {

    margin: 35px 65px 80px;

}